.navbar{
  background-color: #15305C;
}
.navbar a{
  color: white;
  font-size: 1.5rem;
}
.navbar a:hover{
  color: rgb(240, 240, 240);
}
.text-option{
  background-color: #31415C;
}
.text-area .text-editor, .text-area .md-result{
  border: 1px solid rgb(233, 233, 233);
}
.text-area .column{
  min-height: 300px;
}
.text-editor .content-editor{
  min-height: 100%;
}
.text-editor .content-editor ul{
  list-style-type: disc;
  margin-left: 10px;
}
.text-editor .content-editor blockquote{
  background-color: #f5f5f5;
  border-left: 5px solid #dbdbdb;
  padding: 1.25em 1.5em;
}
.text-editor .content-editor h2{
  font-size: 1.5rem;
}
.text-editor .content-editor:focus{
  border: none;
}